<!doctype html>

<html>

	<head>
		<title>Test Web Sockets</title>
		<meta charset="utf-8" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<style type="text/css">

		</style>
	</head>

	<body>
		<div id="connectedContainer" style="display:none;">
			<textarea id="input" rows="4" cols="40"></textarea>
			<p>
				<input type="button" id="send" value="Send" />
			</p>
			<p>
				<input type="button" id="custom" value="Send Custom Event" />
			</p>

			<ul id="output"></ul>

			<p>
				<input type="button" id="disconnect" value="Disconnect" />
			</p>
		</div>
		<div id="notConnectedContainer">
			<input type="button" id="connect" value="Connect" />
		</div>

		<script type="text/javascript">
			var socket;
			var connect = function () {
				socket = new WebSocket("ws://localhost:8080");
				var writeMessage = function (msg) {
					$("<li></li>").text (msg).appendTo ($("#output"));
				};
				var sendEvent = function (event, params) {
					socket.send (JSON.stringify ({
						event: event,
						params: params
					}));
				};
				socket.onmessage = function (evt) {
					writeMessage (evt.data);
				};
				socket.onclose = function () { 
					writeMessage ("Socket Closed!"); 
					$("#connectedContainer").hide ();
					$("#notConnectedContainer").show();
					$("#output li").remove ();
				}
				socket.onopen = function () { 
					writeMessage ("Socket Opened!"); 
					$("#connectedContainer").show ();
					$("#notConnectedContainer").hide ();
				}
				$("#send").on ('click', function () {
					var input = $("#input");
					if (input.val ())
					{
						socket.send(input.val ());
						input.val ('');
					}
				});
				$("#custom").on ('click', function () {
					sendEvent('custom_button_click', {
						a: 1,
						b: "Two",
						c: "III"
					});
				});
			}

			$("#connect").on ('click', function () { connect (); } );
			$("#disconnect").on ('click', function () { socket.close (); });
			
		</script>
	</body>

</html>
